<% form_for(@verb) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :command %><br />
    <%= f.text_field :command %>
  </p>
  <p>
    <%= f.label :you_see %><br />
    <%= f.text_field :you_see %>
  </p>
  <p>
    <%= f.label :target_sees %><br />
    <%= f.text_field :target_sees %>
  </p>
  <p>
    <%= f.label :others_see %><br />
    <%= f.text_field :others_see %>
  </p>
  <p>
    <%= f.label :tag_list, "Tags" %><br />
    <%= f.text_field :tag_list %>
  </p>
  <p>
    <%= f.label :your_status %><br />
    <%= f.text_field :your_status, :value => (@verb.new_record? ? "standing/sitting/kneeling/hiding/invis" : @verb.your_status) %>
  </p>
  <p>
    <%= f.label :roundtime %><br />
    <%= f.text_field :roundtime %>
  </p>
  <p>
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </p>
  <p>
    <%= f.label :incomplete %><br />
    <%= f.check_box :incomplete %>
  </p>
  <p>
    <% submit_text = @verb.new_record? ? "Create" : "Update" %>
    <%= f.submit submit_text %>
    <%= ajax_spinner %>
  </p>
<% end %>

<h3>Keywords</h3>
<%- Keywords.each do |keyword| -%>
  <%= keyword %><br />
<%- end -%>

