%h1 All Hail Zirakh!
.parenthetical Or else!!!

.new-verb-container
  %h2 New Verb
  = render :partial => 'form'

- current_name = ""

- @verbs.each do |verb|
  - if verb.name != current_name
    = "</table>" if current_name != ""
    %h2= verb.name
  = "<table>" if verb.name != current_name
  %tr
    %td.syntax{:colspan => 2}= highlight_keywords(verb.command)
  %tr
    %td.see You see:
    %td= h verb.you_see
  %tr
    %td.see Target sees:
    %td= h verb.target_sees
  %tr
    %td.see Others see:
    %td= h verb.others_see
  - if verb.roundtime.to_i > 0
    %tr
      %td.see Roundtime:
      %td= h verb.roundtime
  - if !verb.notes.blank?
    %tr
      %td.see Notes:
      %td= h verb.notes
  %tr.last
    %td{:colspan => 2}
      =  link_to 'Edit', edit_verb_path(verb)
      =  link_to 'Destroy', verb, :confirm => 'Are you sure?', :method => :delete
  - if verb.name != current_name
    - current_name = verb.name