<h1>All Hail Zirakh!</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Command</th>
    <th>Roundtime</th>
    <th>You see</th>
    <th>Target sees</th>
    <th>Others see</th>
  </tr>

<% @verbs.each do |verb| %>
  <tr>
    <td><%=h verb.name %></td>
    <td><%=h verb.command %></td>
    <td><%=h verb.roundtime %></td>
    <td><%=h verb.you_see %></td>
    <td><%=h verb.target_sees %></td>
    <td><%=h verb.others_see %></td>
    <td><%= link_to 'Show', verb %></td>
    <td><%= link_to 'Edit', edit_verb_path(verb) %></td>
    <td><%= link_to 'Destroy', verb, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New verb', new_verb_path %>