!!! XML
!!! 1.0 Transitional

%html
  %head
    = stylesheet_link_tag "main"
    = javascript_include_tag "jquery-1.3.2.min.js", "jquery-ui-1.7.2.custom.min.js", "lowpro.jquery.js", "remove-defaults", "application"
    %title All Hail Zirakh! The best DR verb site there is
  %body
    .title
      %img#zirakh{:src => "/images/zirakh.jpg", :title => "Zirakh", :alt => "Zirakh"}
      %h1 
        = link_to "All Hail Zirakh!", root_path
      .parenthetical The best DR verb site there is
    .navigation
      .alpha.group
        - ("A".."Z").to_a.each do |letter|
          = link_to letter, verbs_path(:letter => letter), :class => ("selected" if params[:letter] == letter)
        .clear
      .races.group
        - Races.each do |race|
          = link_to race, verbs_path(:tag => race), :class => ("selected" if params[:tag] == race)
        .clear
      .guilds.group
        - Guilds.each do |guild|
          = link_to guild, verbs_path(:tag => guild), :class => ("selected" if params[:tag] == guild)
        .clear
      .search.group
        %form
          = text_field_tag "q", params[:q]
          = submit_tag "Search", :name => nil
    = yield
    .footer
      Dedicated to Zirakh, Trinean, and Fyrn
      %br/
      Love, Barumpharumph